
<div class="container">
    <div class="row">
        <mat-card class="title">
            <mat-card-content><h1>My games : Welcome back ...</h1></mat-card-content>
        </mat-card>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-md-4">
            <app-game1></app-game1>
        </div>

        <div class="col-md-4 text-center">
            <img src="https://cdn0.iconfinder.com/data/icons/circles-2/100/sign-square-dashed-plus-512.png" alt="">
        </div>

    </div>
</div>

