img{
    width: 200px;
    height: 300px;
}

h2{
    text-transform: none;
    font-size: 2em;
    color: #7b1fa2;
}

a{
    cursor: pointer;
}

.text-center:hover {
    border : groove white thin;
    img{
        opacity: 0.5;

    }
    transition: 0.1s;
    //border-style: ;
}

