<!-- Ecran de jeu -->
<div id="ecranJeuDiv">
  <button id="boutonQuitterJeu" (click)="navigateTo('../game1-home')">Quitter La Partie</button>
  <label id="score">21</label>
  <label id="numeroTour">3</label>
  <div id="cardsDiv">
    <img id="pile" alt="pile" src="pile">
    <img id="card1" alt="card1" src="card1">
    <img id="card2" alt="card2" src="card2">
    <img id="card3" alt="card3" src="card3">
    <img id="card4" alt="card4" src="card4">
    <img id="card5" alt="card5" src="card5">
    <img id="card6" alt="card6" src="card6">
    <img id="card7" alt="card7" src="card7">
    <img id="card8" alt="card8" src="card8">
    <img id="card9" alt="card9" src="card9">
    <img id="card10" alt="card10" src="card10">
  </div>
  <button id="boutonTourSuivant">Tour suivant</button>
</div>

