<!-- Ecran de jeu -->
<div id="ecranJeuDiv">

  <mat-grid-list id="headerJeu" cols="3" rowHeight="50px">
    <mat-grid-tile>
      <button id="boutonQuitterJeu" (click)="navigateTo('../game1-home')" mat-raised-button color="warn">Quitter La Partie</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <label id="score" >Score : {{ score }}</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label id="tour">Tour {{ tour }}</label>
    </mat-grid-tile>
  </mat-grid-list>

  <div id="cardsDiv">
    <div id="pileDiv">
      <img id="pile" alt="pile" src="assets/Files/cards/dos.jfif">
    </div>
    <div id="ligneCartes1">
      <div id="paireCartes1">
        <img #card1 alt="card1" hidden>
        <img #card2 alt="card2" hidden>
      </div>
      <div id="paireCartes2">
        <img #card3 alt="card3" hidden>
        <img #card4 alt="card4" hidden>
      </div>
    </div>
    <div id="ligneCartes2">
      <div id="paireCartes3">
        <img #card5 alt="card5" hidden>
        <img #card6 alt="card6" hidden>
      </div>
      <div id="paireCartes4">
        <img #card7 alt="card7" hidden>
        <img #card8 alt="card8" hidden>
      </div>
      <div id="paireCartes5">
        <img #card9 alt="card9" hidden>
        <img #card10 alt="card10" hidden>
      </div>
    </div>
    <div id="footer">
      <button id="boutonTourSuivant" mat-raised-button color="primary" (click)="drawCards()">Tour suivant</button>
    </div>
  </div>
</div>

