<!-- Ecran de jeu -->
<div id="ecranJeuDiv">

  <mat-grid-list id="headerJeu" cols="3" rowHeight="50px">
    <mat-grid-tile>
      <button id="boutonQuitterJeu" (click)="navigateTo('../game1-home')" mat-raised-button color="warn">Quitter La Partie</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <label id="score" >Score : {{ game.score }}</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label id="tour">Tour {{ tour }}</label>
    </mat-grid-tile>
  </mat-grid-list>

  <div id="cardsDiv">
    <div id="pileDiv">
      <img id="pile" alt="pile" src="assets/Files/cards/dos.jfif">
    </div>
    <div id="ligneCartes{{i}}" *ngFor="let i of [0,1]">
      <div id="paireCartes{{j}}" *ngFor="let pair of pairs[i]; index as j">
        <img id="card{{k}}" *ngFor="let card of pairs[i][j]; index as k; first as isFirst" alt=card{{k}} [src]="card.path">
      </div>
    </div>

    <div id="footer">
      <button id="boutonTourSuivant" mat-raised-button color="primary" (click)="drawCards(2)">Tour suivant</button>
    </div>
  </div>
</div>

